#main{
color:#ff6559;
font-style:italic;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color:#ffffffbf ;
padding: 25px;
text-align: center;
margin: -5px;

}
*{
background-color:#ff8a00 ;
}
   
img{
   max-width: 100%;
   height:auto;
}
h2{
   color:#E8E2E2 ;
}
